In [1]:
a='Hello World'
b="Hello World"
c='''Hello Word'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [3]:
a="Hello "
b="World"
c=a+b
print(c)

Hello World

In [4]:
a="Hello World\n"
print(a*2)

Hello World
Hello World

In [5]:
for i in a:
    print(i, end=" ")

H e l l o   W o r l d

In [6]:
a=input("Enter a=")
print(a)

10

In [7]:
a="Hello World"
a[2]

'l'

In [8]:
a="Hello World"
a[0:8]

'Hello Wo'

In [9]:
a="Hello World"
a[0:8:2]

'HloW'

In [10]:
a="Hello World"
a[0::1]

'Hello World'

In [13]:
name="Ram"
age=23
add="Kathmandu"
info="Hello World I am "+ name + "I am from " + add + "I am "+ str(age) + "Years old"
print(info)

Hello World I am RamI am from KathmanduI am 23Years old

In [17]:
s= 0
bill = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total=price*quantity
    bill = bill + f"{name} {price} {quantity} {total}\n"
    s = s+total
    
print("\nall total = ",s)
print(bill)

all total =  1800
Apple 150 12 1800

In [18]:
a="Ram Shyam Hari Sita Gita Ram"
if "Ram " in a:
    print("There is Ram")
else:
    print("no")

There is Ram

In [21]:
a="Ram Shyam Hari Gita Ramesh".lower()
b=input("Enter search value = ").lower()
if b in a:
    print("Yes there is ",b)
    print(a.count(b))
else:
    print("no")

Yes there is  h
3

In [23]:
a=input("Enter any no = ")
b=input("Enter next no=")
if a==b[::-1]:
    print("yes")
else:
    print("no")

yes

In [24]:
def hello():
    print("Hello world")

hello()

Hello world

In [25]:
def cal():
    l=int(input("Enter l= "))
    b=int(input("Enter b="))
    a=l*b
    print(a)
cal()

156

In [26]:
def cal():
    a=l*b
    print(a)

l=int(input("Enter l= "))#global variable
b=int(input("Enter b= "))#global variable
cal()

156

In [27]:
#function without argument and no return type

def cal():
    a=l*b
    print(a)

l=int(input("Enter l= "))
b=int(input("Enter b = "))
cal()

156

In [28]:
#function with argument and no return type

def cal(l,b):
    a=l*b
    print(a)

l=int(input("Enter l = "))
b=int(input("Enter b = "))
cal(l,b)

100

In [ ]:
#default argument
def language(lan="Python"):
    print(lan)

language("C")
language("C++")
language("Python")
language()

C
C++
Python
Python

In [30]:
# Return Type Function 

def hello():
    return "Hello"
x=hello()
print(x+"World")

HelloWorld

In [44]:
def cal():
    while True:
        p = int(input("Enter p = "))
        t = float(input("Enter t = "))
        r = float(input("Enter r = "))
        i = p * t * r / 100
        print(i)
        x = input("Press Enter for more cal, or type 'esc' to exit: ").strip().lower()
        if x == 'esc':
            break

cal()

0.24
0.24
0.24

In [45]:
def cal(x,y,z):
    a = x*y
    v = a*z
    return a,v

l = int(input("Enter l = "))
b = int(input("Enter b = "))
h = int(input("Enter h = "))

av = cal(l,b,h)

print(av)

(30, 210)

In [ ]:
tuple
# -indexing
# -ordered
# -Multiple and duplicate value
# -Imutable

In [46]:
a = tuple()
t = ("Apple","Ball","Cat","Dog")
r  = (1,2,3,4,5,6,7,8,9)
print(type(t))
print(type(r))

<class 'tuple'>
<class 'tuple'>

In [47]:
a = ("Apple",)
print(type(a))

<class 'tuple'>

In [ ]:
# no append() insert() extend()
# no update
# no del remove() pop()

In [48]:
a = ()
b = ("Apple",)
d = ("Ball",)
c = a+b+d
c

('Apple', 'Ball')

In [49]:
n= int(input("Enter n = "))
l = ()
for i in range(n):
    x = int(input("Enter x = "))
    l = l+(x,)
    
print(l)

(12, 10, 11, 8, 9)

In [50]:
a = 123,34,456,2,546,324,
a

(123, 34, 456, 2, 546, 324)

In [51]:
a = (123, 34, 456, 2, 546, 324)
b = list(a)
b

[123, 34, 456, 2, 546, 324]

In [52]:
a = (123, 34, 456, 2, 546, 324)
b = list(a)
del b[0]
print(b)

[34, 456, 2, 546, 324]

In [53]:
a = tuple(b)
a

(34, 456, 2, 546, 324)