In [30]:
a = 10
b = 11.5
c = "Hello World"
d = True

In [31]:
print(a)
print(b)
print(c)
print(d)

print(a, b, c, d)

10
11.5
Hello World
True
10 11.5 Hello World True

In [32]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [33]:
a = 10
b = 3
c = a % b
print(c)

1

In [34]:
a = 10
b = 3
c = a%b
print(c)

1

In [35]:
a = 11
b = 3 
c = a//b

In [36]:
a = '10'
b = '3'
print(a+b)

103

In [37]:
a = 'Hello'
b = "World"
c = a+b
print(c)

HelloWorld

In [38]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [39]:
a = "Messi "
b = "10"
c = a+b
c

'Messi 10'

In [40]:
a = True
b = False
c = a+b
c

1

In [41]:
a = True
b = True
c = a+b
print(c)

2

In [43]:
a = 1+2j
a

(1+2j)

In [44]:
(0+1j)*(0+1j)

(-1+0j)

In [45]:
# Type casting
# str() int() float()
a = 10
b = str(a)
b

'10'

In [46]:
a = '20'
int(a)

20

In [47]:
a = '20.5'
float(a)

20.5

In [48]:
a = input()
print(a)

12

In [49]:
a = input("Enter a = ") # a is a string
b = input("Enter b = ") # b is a string
print(a+b)

1212'

In [50]:

p = int(input("Enter p = "))
t = float(input("Enter t = "))
r = float(input("Enter r = "))
i = p*t*r/100
print(f'The value of i = {i}')

The value of i = 10.0

In [51]:
a = 10
print(a<0)
print(a>0)

False
True

In [52]:
a = int(input("Enter a = "))
if a%2 == 0:
    print(f"{a} is even")
else:
    print(f"{a} is odd")

34 is even

In [53]:
physics = int(input("Enter physics marks = "))
chemistry = int(input("Enter chemistry marks = "))
math = int(input("Enter math marks = "))
english = int(input("Enter english marks = "))
nepali = int(input("Enter nepali marks = "))

total = physics+chemistry+math+english+nepali
per = total/5

if per>=80:
    grade = 'A'
elif per>=60:
    grade='B'
elif per>=45:
    grade='C'
else:
    grade = 'F'
    
print("Total = ", total)
print("Per = ", per)
print("Grade = ", grade)

Total =  464
Per =  92.8
Grade =  A

In [55]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
o = input("Enter o = ")
if o == '+':
    print(a+b)
elif o == '-':
    print(a-b)
elif o == '*':
    print(a*b)
elif o == '/':
    if b != 0:
        print(a/b)
    else:
        print("The vale of b can not be zero.")
else:
    print("Enter Valid Operator")

8

In [56]:
for i in range(5):
    print(i)

0
1
2
3
4

In [57]:
for i in range(0, 11, 2):
    print(i)

0
2
4
6
8
10

In [58]:
for i in range(5):
    print(i, "Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [29]:
for i in range(1, 5):
    print(i, "Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [28]:
for i in range(1, 5, 2):
    print(i, 'Hello World')

1 Hello World
3 Hello World

In [27]:
n = int(input("enter n = "))
for i in range(1, 11):
    print(n, "*", i, "=", n*i)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [26]:
for i in range(5):
    x = int(input("Enter value = "))
    print(x)

12
11
10
9
8

In [25]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter value = "))
    s += x
    
    print(s)

5
11
18

In [23]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    
    s = s+name+" "+phone+"\n"
    
print(s)

Rachel  100

In [21]:
#Sum of numbers
s = 0
n = int(input("Enter n = "))
for i in range(n+1):
    s += i
print(s)

15

In [20]:
# factorial
s = 1
n = int(input("Enter n = "))
for i in range(1, n+1):
    s *= i
print(s)

40320

In [19]:
for i in range(21):
    if i%2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

In [18]:
for i in range(21):
    if i%2 == 0:
        print(i, end=" ")

0 2 4 6 8 10 12 14 16 18 20

In [17]:
for i in range (5, -1, -1):
    print(i)

5
4
3
2
1
0

In [16]:
a = "Python"
for i in a:
    print(i)

P
y
t
h
o
n

In [15]:
a = "Python"
for i in a:
    print(i, "Hello World")

P Hello World
y Hello World
t Hello World
h Hello World
o Hello World
n Hello World

In [14]:
a = "Hello World I am Python"
for i in a:
    if i != " ":
        print(i,end = "")

HelloWorldIamPython

In [13]:
for i in range(10):
    if i == 6:
        break
    print(i)

0
1
2
3
4
5

In [12]:
for i in range(10):
    if i==6:
        continue
    print(i, end = "")

012345789

In [11]:
for i in range(1, 31):
    if i%3 != 0:
        continue
    print(i)

3
6
9
12
15
18
21
24
27
30

In [ ]:
a = "Hello World I am Python"
for i in a:
    if i==" ":
        break
    print(i)

In [10]:
a = "Hello World I am Python"
for i in a:
    if i == " ":
        continue
    print(i, end='')

HelloWorldIamPython

In [9]:
a = 0
while a<5:
    print(a, "Hello World")
    a = a+1

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [8]:
a = 5
while a>0:
    print(a, "Hello World")
    a = a-1

5 Hello World
4 Hello World
3 Hello World
2 Hello World
1 Hello World

In [7]:
i = 1
n = int(input("Enter n = "))
while i<=10:
    print(n, "*", i, "=", n*i)
    i = i+1

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [6]:
s = ""
i = 0
n = int(input("Enter n = "))
while i<n:
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s + name + " " + phone + "\n"
    i = i+1
print(s)

Jacob  911
Sam  912

In [4]:
# factorial
s = 1
i = 1
n = int(input("Enter n = "))
while i<=n:
    s = s*i
    i = i+1
print(s)

2

In [3]:
# break
i = 0
while i<10:
    if i==6:
        break
    print(i, end="")
    i+=1

012345

In [2]:
# continue
i = 0
while i<10:
    if i ==6:
        i = i+1
        continue
    print(i,end = "")
    i = i+1

012345789

In [1]:

# prime
n = int(input("Enter n = "))
if n >=2:
    for i in range(2,n):
        if n%i==0:
            print(n,"is Composite no")
            break
    else:
        print(n,"is Prime no")

else:
    print("Please enter valid no.")

4 is Composite no